@import "@/styles/variables.scss";

.productCard {
    display: flex;
    flex-direction: column;
    background-color: $background-theme--focus;
    flex: 1;

    & > .productCardImgContainer {
        position: relative;
        height: 11rem;
        width: 100%;
        display: flex;
        align-items: flex-start;
        // align-content: center;
        justify-content: center;
        // justify-items: center;
        background-color: white;

        & > img {
            object-fit: cover;
            position: absolute;
            // background-color: red;
            height: inherit;
            aspect-ratio: 1.45;
            width: 100%;

            // aspect-ratio: 16 / 9;

            @media (max-width: $screen--lg) {
                // object-fit: fill;
            }
        }
    }

    & section {
        gap: 0;
        padding-block: 0;
        padding-inline: 1rem;

        & span {
        }

        & h2 {
            margin: 0;
            padding: 0;
            font-weight: 500;
            font-size: medium;
            color: black;
        }
    }
}
