@mixin flex--row {
    display: flex;
    flex-direction: row;
}

@mixin flex--col {
    display: flex;
    flex-direction: column;
}

@mixin flex--row--center {
    @include flex--row;
    align-items: center;
}

@mixin flex--col--center {
    @include flex--col;
    align-items: center;
}