@import "@/styles/variables.scss";

.logo {
    font-size: 1.2rem;
    font-family: $logo--font;
    font-weight: 500;

    &::before {
        content: "Dum";
    }

    @media (min-width: $screen--sm) {
        &::before {
            content: "Dummy";
        }
    }
}
