@use "@/styles/flexes.scss" as *;
@import "@/styles/variables.scss";

.search {
    @include flex--row--center;
    background-color: white;
    padding: 0.2rem;
    flex: 1;
    border-radius: $border-radius--sm;

    & > input {
        // all: unset;
        border: none;
        font-size: small;
        font-weight: 500;
        background-color: transparent;
        color: black;
        flex: 1;
        width: 100%;
        padding-inline: 0.5rem;

        &:focus {
            outline: none;
        }
    }

    & > .searchButton {
        border-radius: $border-radius--sm;
        background-color: $background-main--theme;
        padding-inline: 0.5rem;
        padding-block: 0.2rem;
        color: white;
        font-weight: 500;
        font-size: small;

        gap: 0.5rem;
    }
}

.layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 100% 1fr;
    gap: 1rem;

    & > header {
        @include flex--col;
        background-color: #f31559;
        padding-inline: $layout--padding-inline;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        box-sizing: border-box;
        gap: 1rem;

        & > .headerContent {
            @include flex--row--center;
            justify-content: space-between;
            gap: 4rem;
            flex-grow: 1;
            position: sticky;
            top: 0;

            & .cartButton {
                color: $background-main--text;
            }
        }

        & > .headerSubContent {
            @include flex--row--center;
            border-top: 1px dashed $background-main--border;
            justify-content: space-between;
            padding-top: 0.5rem;

            & > .categoriesBtn {
                gap: 0.3rem;
                color: $background-main--text;
                font-size: small;
                font-weight: 500;
            }

            & > .categoriesDropdownMenu {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                row-gap: 1.5rem;
                width: 40rem;
                height: 15rem;
                padding: 1rem;

                & > li {
                    padding-inline: auto;

                    & > a {
                        text-transform: capitalize;
                        text-align: center;

                        &:hover {
                            color: black;
                        }
                    }
                }
            }

            & > .randomCategoriesList {
                @include flex--row--center;
                color: $background-main--text;
                gap: 1rem;
                font-size: small;
                font-weight: 500;
                text-transform: capitalize;
            }
        }
    }
}

main {
    flex: 1;
    padding-inline: $layout--padding;
    box-sizing: border-box;
}

footer {
    @include flex--col--center;
    background-color: $background-main--theme;
    color: $background-main--text;
    padding-block: 2rem;

    & > .copyright {
        font-weight: 500;
        font-size: small;
    }
}

nav {
    @include flex--row--center;
    justify-content: flex-end;
    color: $background-main--text;
    font-size: small;
    // gap: 1.5rem;

    & > .authWrapper {
        @include flex--row--center;
        border-bottom: 1px dashed $background-main--border;
        padding-bottom: 0.4rem;

        & a {
            padding-inline: 1rem;
            border-right: 1px dashed $background-main--border;
            font-weight: 500;

            &:last-child {
                border-right: 0;
            }
        }
    }

    // &>a {
    //     padding-inline: 1rem;
    //     padding-bottom: 0.5rem;
    //     border-bottom: 1px dashed $background-main--text;
    //     border-right: 1px dashed $background-main--text;

    //     &:last-child {
    //         border-right: 0;

    //     }
    // }

    // &>* {
    //     border-right: 1px dashed $background-main--text;
    // }
}
