@use "@/styles/flexes.scss" as *;
@import "@/styles/variables.scss";

.pagination {
    margin-top: 2rem;
    ul {
        @include flex--row--center;
        padding-inline: 1rem;
        padding-block: 0.5rem;
        border: 1px solid $background-main--border;
        border-radius: $border-radius--sm;
        gap: 2rem;

        li {
        }
    }
}
