@use "@/styles/flexes.scss" as *;
@import "@/styles/variables.scss";

.wrapper {
    @include flex--col--center;

    & .title {
        position: relative;

        &::before {
            content: " ";
            position: absolute;
            left: 0;
            width: 5rem;
            height: 0;
            border: 1px solid red;
        }

        &>h1 {
            text-align: center;
            font-size: x-large;
            margin : 0;
        }
    }


    & .productList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

        @media (min-width : $screen--2xl) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (min-width: $screen--lg) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (min-width: $screen--sm) {
            grid-template-columns: repeat(3, 1fr);
        }

        &>li {
            width: 1fr;
            flex-basis: 0;
        }
    }
}