@use "@/styles/flexes.scss" as *;
@import "@/styles/variables.scss";

.wrapper {
    padding-top: 1rem;

    & > .productList {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;

        @media (max-width: $screen--xl) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: $screen--lg) {
            grid-template-columns: repeat(2, 1fr);
        }

        & > li {
            width: 100%;
            flex-basis: 0;
        }
    }
}
