@import "@/styles/variables.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  // font-weight: 500;

  color-scheme: light dark;
  color: $background-theme--text;
  background-color: $background-theme;

  font-synthesis: none;
  font-weight: 500;
  // font-size: medium;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  // box-sizing: border-box;
}

h3 {
  color: black;
}

ul,
ol,
li {
  all: unset;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}